@import "./fonts.css";

@import "tailwindcss";

/* @custom-variant dark (&:is(.dark *)); */
/* @plugin "@tailwindcss/typography"; */

/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; */
/* @source '../../storage/framework/views/*.php'; */
@source '../../**/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-display: "Caprasimo", display, serif;
    --font-display2: "Sancreek", display, serif;
    --font-mono: "Courier Prime", monospace;
}

@layer utilities {
    .h-screen-fallback {
        height: 100vh;
        height: 100dvh;
    }
    .fill-parent {
        @apply w-full h-full inset-0 absolute;
    }
}

/* @keyframes color-spin {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
} */

html,
body {
    position: relative;
}

body.debug * {
    outline: 1px dotted lime !important;
}
